h1 {
  color: #a0c8ef;
  font-size: 50px;
  font-family: Trebuchet MS, sans-serif;
}

h3 {
  color: #a0c8ef;
  font-size: 25px;
  font-family: Trebuchet MS, sans-serif;
}

h4 {
  color:#cce5ff;
  font-size: 17px;
  font-family: Trebuchet MS, sans-serif;
}

body {
  background-color: #2b435b;
}

a {
  color: #a0c8ef;
  font-size: 25px;
  font-family: Trebuchet MS, sans-serif;

}

button {
  background-color: #2b435b;
  color: #a0c8ef;
  font-size: 25px;
  cursor: pointer;
}

button:hover {
  background-color: #2b435b;
  color: #ffffff;
}
